@page
@model FPOManagement.Pages.BankAccounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankAccount.BankName" class="control-label"></label>
                <input asp-for="BankAccount.BankName" class="form-control" />
                <span asp-validation-for="BankAccount.BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.BankBranch" class="control-label"></label>
                <input asp-for="BankAccount.BankBranch" class="form-control" />
                <span asp-validation-for="BankAccount.BankBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.AccountNumber" class="control-label"></label>
                <input asp-for="BankAccount.AccountNumber" class="form-control" />
                <span asp-validation-for="BankAccount.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.IFSCCode" class="control-label"></label>
                <input asp-for="BankAccount.IFSCCode" class="form-control" />
                <span asp-validation-for="BankAccount.IFSCCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.DateOfOpening" class="control-label"></label>
                <input asp-for="BankAccount.DateOfOpening" class="form-control" />
                <span asp-validation-for="BankAccount.DateOfOpening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
